<footer>
  <div class="icons">
    <a href="https://github.com/kusche12" target="_blank">
      <i class="fab fa-github fa-2x hide-lg"></i>
      <i class="fab fa-github fa-3x hide-xs hide-md show-lg"></i>
    </a>
    <a href="mailto:kylerkusche@gmail.com" target="_blank">
      <i class="fas fa-envelope fa-2x hide-lg"></i>
      <i class="fas fa-envelope fa-3x hide-xs hide-md show-lg"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/kyle-kusche-29b00014b/"
      target="_blank"
    >
      <i class="fab fa-linkedin-in fa-2x hide-lg"></i>
      <i class="fab fa-linkedin-in fa-3x hide-xs hide-md show-lg"></i>
    </a>
  </div>
  <p>
    Icons by
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
      >Freepik</a
    >, <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a>, &
    <a
      href="https://www.flaticon.com/authors/pixel-perfect"
      title="Pixel perfect"
      >Pixel perfect</a
    >
  </p>
  <p class="copyright">
    Created with &hearts; by Kyle Kusche 2020
  </p>
</footer>
