$primaryGreen: #0ad48b;
$secondaryGreen: #05ac72;
$highlightGreen: #05e688;
$black: #333333;
$gray: #666666;

html * {
  font-family: 'Raleway', sans-serif;
  color: $black;
  font-weight: 400;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

@mixin flexAlignCenter() {
  display: flex;
  flex-direction: column;
  align-items: center;
}
