@import './variables';

.hide-xs {
  display: none;
}

header {
  @include flexAlignCenter();
  height: 100vh;

  h1 {
    font-size: 40px;
    margin-top: 48px;
    margin-bottom: 0px;
  }

  .highlight {
    font-weight: 600;
    color: $primaryGreen;
  }

  p {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 500px;
  }

  img {
    width: 90%;
    position: relative;
    bottom: 100px;
  }
}

#about {
  .contain-arrows {
    @include flexAlignCenter();
    position: relative;
    background-color: $primaryGreen;

    height: 600px;
  }

  .arrow-down {
    width: 100%;
    height: 50px;
    background-color: white;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    border-width: 10px;
    border-color: black;
    z-index: 900;
  }

  .container-about {
    @include flexAlignCenter();
    width: 80%;
    background-color: $primaryGreen;
    height: 100vh;

    h2 {
      margin-top: 50px;
      color: white;
      font-size: 36px;
      text-align: center;
      font-weight: 500;
    }

    p {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
    }
  }

  .arrow-bottom {
    background-color: $primaryGreen;
    position: relative;
    top: -1px;
  }

  .container-tags {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .tag {
    @include flexAlignCenter();
    width: 150px;
    flex-wrap: 25%;
    margin-bottom: 24px;

    .tag-title {
      font-size: 22px;
      font-weight: 800;
      margin: 0px;
      margin-bottom: 10px;
    }
    .tag-desc {
      font-size: 18px;
      margin: 0px;
      text-align: center; // TODO: MAKE THIS ALIGN AT FLEX-START ONE MIN 768PX
    }
  }
}

.container-resume {
  @include flexAlignCenter();
  margin-top: 48px;
  // TODO: ADD A HOVER EFFECT ON LARGER VIEWPORT
  .btn {
    font-size: 22px;
    padding: 8px 24px;
    color: $secondaryGreen;
    background-color: white;
    border-radius: 10px;
    border: solid 2px $secondaryGreen;
  }
}

/*
@media (min-width: 576px) {

}

@media (min-width: 768px) {
nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  // TODO: ADD A HOVER EFFECT ON LARGER VIEWPORT
  li {
    float: right;

    a {
      display: block;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
    }
  }

  .logo {
    float: left;
  }
}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}*/
