@import './variables';

.hide-xs {
  display: none;
}

header {
  @include flexAlignCenter();
  height: 100vh;

  h1 {
    font-size: 40px;
    margin-top: 48px;
    margin-bottom: 0px;
  }

  .highlight {
    font-weight: 600;
    color: $primaryGreen;
  }

  p {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 500px;
  }

  img {
    width: 90%;
    position: relative;
    bottom: 100px;
  }
}

#about {
  .contain-arrows {
    @include flexAlignCenter();
    position: relative;
    background-color: $primaryGreen;

    height: 600px;
  }

  .arrow-down {
    width: 100%;
    height: 50px;
    background-color: white;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    border-width: 10px;
    border-color: black;
    z-index: 900;
  }

  .container-about {
    @include flexAlignCenter();
    width: 80%;
    background-color: $primaryGreen;
    height: 100vh;

    h2 {
      margin-top: 50px;
      color: white;
      font-size: 36px;
      text-align: center;
      font-weight: 500;
    }

    p {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
    }
  }

  .arrow-bottom {
    background-color: $primaryGreen;
    position: relative;
    top: -1px;
  }

  .container-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*
@media (min-width: 576px) {

}

@media (min-width: 768px) {
nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: right;

    a {
      display: block;
      color: $black;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
    }
  }

  .logo {
    float: left;
  }
}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}*/
