/* TODO: FIX THE GREEN LINE ON THE DOWN WHITE ARROW */
/* TODO: Found out how to get my fonts more crisp/smooth/higher quality on a colored background */

@import './variables';

.hide-xs {
  display: none;
}

header {
  @include flexAlignCenter();
  height: 100vh;
  justify-content: space-evenly;

  h1 {
    font-size: 40px;
    margin-top: 48px;
  }

  .highlight {
    font-weight: 600;
    color: $primaryGreen;
  }

  .header-desc {
    font-size: 30px;
    text-align: center;
  }

  img {
    width: 250px;
    margin-bottom: 48px;
  }
}

#about {
  .contain-arrows {
    @include flexAlignCenter();
    background-color: white;
    margin-bottom: 72px;
  }

  .arrow-down {
    width: 100%;
    height: 50px;
    background-color: $primaryGreen;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    z-index: 900;
  }
  .background-container-about {
    @include flexAlignCenter();
    background-color: $primaryGreen;
  }
  .container-about {
    @include flexAlignCenter();
    justify-content: center;
    width: 80%;
    min-height: 450px;
    background-color: $primaryGreen;

    h2 {
      color: white;
      font-size: 36px;
      text-align: center;
      font-weight: 800;
    }

    p {
      color: white;
      font-family: 'Roboto', sans-serif;
      text-rendering: optimizeLegibility;
      line-height: 36px;
      text-align: center;
      font-size: 20px;
    }
  }

  .container-tags {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .tag {
    @include flexAlignCenter();
    width: 150px;
    flex-wrap: 25%;
    margin-bottom: 24px;

    .tag-title {
      font-size: 22px;
      font-weight: 800;
      margin: 0px;
      margin-bottom: 10px;
    }
    .tag-desc {
      font-size: 18px;
      margin: 0px;
      text-align: center; // TODO: MAKE THIS ALIGN AT FLEX-START ONE MIN 768PX
    }
  }
}

.container-resume {
  @include flexAlignCenter();
  margin-top: 48px;
  // TODO: ADD A HOVER EFFECT ON LARGER VIEWPORT
}
.btn {
  font-size: 20px;
  padding: 8px 24px;
  color: $secondaryGreen;
  background-color: white;
  border-radius: 10px;
  border: solid 2px $secondaryGreen;
}
.btn-fill {
  color: white;
  background-color: $primaryGreen;
  border: solid 2px $primaryGreen;
}

.container-projects {
  @include flexAlignCenter();
  margin-top: 72px;
  .project {
    @include flexAlignCenter();
    padding-top: 72px;
  }
  .proj-text {
    width: 360px;
    h3 {
      font-weight: 800;
      font-size: 28px;
      margin-bottom: 0px;
    }
    p {
      font-size: 24px;
      margin-top: 8px;
    }
  }
  .proj-buttons {
    margin-top: 72px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
}

.proj-img {
  width: 350px;
}

.project:nth-child(odd) {
  width: 100%;
  background-color: #f1f1f1;
}

.container-contact {
  @include flexAlignCenter();
  margin-top: 72px;
  h2 {
    font-weight: 800;
    font-size: 36px;
    margin: 0px;
  }
  p {
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  p:nth-child(3) {
    font-size: 19.5px;
    width: 105%;
  }
  span {
    color: $primaryGreen;
    font-style: italic;
  }

  .form-container {
    margin-top: 48px;
    width: 90%;
    height: 400px;
    padding-top: 16px;
    border: solid 2px #7c7c7c;
    border-radius: 10px;

    form {
      @include flexAlignCenter();
    }

    input,
    textarea {
      border: solid 2px #7c7c7c;
      border-radius: 10px;
      font-size: 18px;
      width: 85%;
      padding: 8px 0px 8px 4px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    textarea {
      margin-top: 16px;
      height: 144px;
    }
    input:focus,
    textarea:focus {
      outline: none !important;
      border: 2px solid $primaryGreen;
      box-shadow: 0 0 4px $secondaryGreen;
    }
    ::placeholder {
      color: #9e9e9e;
      opacity: 1;
    }
    :-ms-input-placeholder {
      color: #9e9e9e;
    }
    ::-ms-input-placeholder {
      color: #9e9e9e;
    }
    button {
      margin-top: 12px;
      width: 87%;
    }
  }
}

footer {
  @include flexAlignCenter();
  margin-top: 72px;
  background-color: $black;
  .icons {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    i {
      color: #c4c4c4;
    }
  }
  p {
    margin: 0px;
    a {
      color: #c4c4c4;
    }
    color: #c4c4c4;
  }
  .copyright {
    margin-top: 12px;
    margin-bottom: 24px;
    color: $primaryGreen;
    i {
      color: $primaryGreen;
    }
  }
}

@media (min-width: 500px) {
  .hide-xs {
    display: inline;
  }
  .hide-md {
    display: none;
  }
  nav {
    width: 90%;
    height: 100px;
    overflow: hidden;
    .logo {
      float: left;
      font-size: 30px;
      line-height: 36px;
      a {
        color: $black;
        text-decoration: none;
      }
    }
    .logo:after {
      content: '';
      display: block;
      margin: 10 auto; /* This will center the border. */
      width: 30%; /* Change this to whatever width you want. */
      border-bottom: 4px solid $primaryGreen;
      border-top: 4px solid $primaryGreen;
      border-radius: 10px;
      transition: 0.5s;
    }
    .logo:hover:after {
      width: 45%; /* This will be the new width of your border when on hover */
    }

    ul {
      padding: 0px;
      margin: 0px;
      float: right;
      margin-top: 30px;
      li {
        list-style-type: none;
        display: inline-block;
        font-size: 22px;
        a {
          color: $black;
          text-decoration: none;
          line-height: 30px;
          padding: 5px 15px;
          transition: 0.4s;
        }
      }
      li:after {
        content: '';
        display: block;
        margin: 0 auto; /* This will center the border. */
        width: 0%; /* Change this to whatever width you want. */
        border-bottom: 3px solid $primaryGreen;
        border-top: 3px solid $primaryGreen;
        border-radius: 10px;
        transition: 0.5s;
      }
      a:hover {
        color: #808080;
      }
      li:hover:after {
        width: 35%;
      }
    }
  }
  header {
    justify-content: initial;
    height: auto;
    h1 {
      margin-top: 12px;
      margin-bottom: 0px;
      font-size: 36px;
    }
    .header-desc {
      margin-top: 8px;
      font-size: 30px;
    }
    img {
      width: 200px;
      margin-bottom: 72px;
    }
  }
}

@media (min-width: 768px) {
  #about {
    .container-about {
      width: 60%;
      height: auto;
      h2 {
        font-size: 30px;
        margin-bottom: 12px;
      }
      p {
        font-size: 20px;
        width: 90%;
        margin-bottom: 72px;
      }
    }
  }
  .proj-img {
    width: 500px;
  }
}
/*
@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}*/
